

<h1>Welcome to blobbit</h1>
<p id="index-title">Find me in app/views/welcome/index.html.erb</p>


<div class="posts">Post one goes here.</div>
<div class="posts">Post two goes here.</div>

<section>I am the content in this section.</section>

